services:
  db:
    image: postgres:15-alpine
    container_name: report_viewer_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: report_db
    ports:
      - "5432:5432"
    volumes: 
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - app-network

networks:
  app-network:
    driver: bridge